@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
}

.navbar.bg-body-tertiary {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.938), rgba(255, 255, 255, 0)) !important;
}
.navbar-nav {
  padding-top: 1em;
}
.navbar-toggler {
  width: 60px;
  height: 40px;
  filter: invert(1);
  border: none;
}
.navbar-toggler-icon {
  width: 100%;
  height: 100%;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: white !important;
  font-size: 1.2em;
}

.carousel {
  position: fixed; /* Fija el carrusel en la posición */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Altura de la ventana gráfica */
  z-index: -1; /* Coloca el carrusel detrás de otros elementos */
}
.carousel .carousel-item {
  height: 100vh; /* cada item ocupa toda la altura */
}
.carousel .carousel-item img {
  object-fit: cover; /* Cubre el área del carrusel */
  width: 100%;
  height: 100%;
}

.imagen-logo {
  width: 5em;
  margin: 15px;
}

main {
  margin-top: 5%;
  text-align: center;
}

.imagen-logo-body {
  padding: 50px 50px 50px 50px;
  width: 60%;
  text-align: center;
}

section {
  text-align: center;
}

h1 {
  font-size: 45px;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 30px;
  text-shadow: -1px -1px 0 rgba(129, 129, 129, 0.337254902), 1px -1px 0 rgba(129, 129, 129, 0.337254902), -1px 1px 0 rgba(129, 129, 129, 0.337254902), 1px 1px 0 rgba(129, 129, 129, 0.337254902);
}

h3 {
  font-size: 2em;
  text-transform: uppercase;
}

h4, h3 {
  color: white;
  margin: 30px;
}

h5 {
  color: white;
  margin: 10px;
}

h6 {
  color: white;
  margin: 30px;
  font-size: 15px;
}

p {
  color: black;
  margin: 10px;
  font-weight: 400;
}

#enlaces-contacto > a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

form {
  color: white;
}

.titulos-portadas {
  color: black !important;
  font-size: 20px;
  display: block;
}

.cajas-portadas {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  background-color: rgba(241, 241, 241, 0.658);
  border-radius: 25px;
}
.cajas-portadas img {
  width: 90%;
  height: auto;
  margin-top: 20px;
  border-radius: 25px;
}

.titulos-portadas {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

.botones-ver-mas {
  font-size: 13px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  color: rgba(0, 0, 0, 0.808);
  background-color: rgba(255, 255, 255, 0.651);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.botones-ver-mas:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.seccion-portadas {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.cajas-contacto {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  background-color: rgba(241, 241, 241, 0.658);
  border-radius: 25px;
}

#formulario-contacto {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

label {
  font-weight: bold;
  text-align: left;
  color: black;
}

input, textarea {
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.input-boton {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border: none;
  background-color: #111111;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  border: 1px solid black;
}

footer {
  text-align: center;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  padding: 20px 0; /* Espaciado dentro del footer */
}

@media (min-width: 576px) {
  .imagen-logo-body {
    padding: 80px 50px 50px 50px;
    width: 50%;
    text-align: center;
  }
  .cajas-portadas {
    max-width: 500px; /* Limita el ancho máximo del contenedor */
  }
  .titulos-portadas {
    font-size: 25px;
  }
  .cajas-contacto {
    max-width: 500px; /* Aumenta el tamaño máximo de la caja del formulario */
    width: 100%; /* Asegura que use el 100% del espacio disponible */
    padding: 20px; /* agrega más espacio interno */
  }
  #formulario-contacto {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto; /* Centra el formulario */
    width: 100%; /* Aumenta el ancho del formulario */
    padding: 20px; /* Agrega más espacio alrededor del formulario */
  }
  label {
    padding-top: 10px;
  }
  label:first-child {
    padding-top: 0px;
  }
  input, textarea {
    width: 100%; /* Asegura que los inputs ocupen todo el ancho */
    padding: 15px; /* Aumenta el tamaño del padding dentro de los inputs */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
  }
  textarea {
    height: 100px;
  }
  .input-boton {
    margin-top: 20px;
    width: 100%; /* El botón también ocupa todo el ancho */
    padding: 15px; /* Aumenta el tamaño del botón */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
  }
}
@media (min-width: 992px) {
  .nav-link {
    transition: transform 0.3s ease; /* Agrega una transición suave */
    padding: 20px !important;
  }
  .nav-link:hover {
    font-size: 1em;
    transform: scale(1.2); /* Escala el texto en un 20% */
  }
  .imagen-logo-body {
    padding: 80px 50px 50px 50px;
    width: 30%;
    text-align: center;
  }
  .titulos-portadas {
    font-size: 30px;
  }
  .cajas-portadas {
    max-width: 500px; /* Limita el ancho máximo del contenedor */
  }
  .cajas-portadas img {
    width: 90%;
    height: auto;
  }
  .botones-ver-mas {
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.808);
    background-color: rgba(255, 255, 255, 0.651);
  }
  .botones-ver-mas:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  h1 {
    font-size: 80px;
  }
  .cajas-contacto {
    max-width: 700px;
  }
  textarea {
    height: 140px;
  }
  .input-boton {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
