#enlaces-contacto > a {
    color: $color-light;
    text-decoration: none;
    padding: 10px;
}

@each $red, $color in $redes {
    .border-#{$red}{
        border-bottom: 2px solid $color;
        position: relative;
        
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -6px; 
            height: 6px; 
            background: $color;
            box-shadow: 0 4px 8px $color; 
            z-index: -1;
            transform: translateY(-2px); /* Inicia "escondido" */
            transition: transform 0.3s ease; /* Duración y suavidad de la animación */ 
        }

        &:hover::after {
            transform: translateY(+4px); /* Mueve hacia abajo al pasar el mouse */
        }
    }
}