#enlaces-contacto > a {
    color: $color-light;
    text-decoration: none;
    padding: 10px;
}

@each $red, $color in $redes {
    .border-#{$red}{
        border-bottom: 2px solid $color;
        position: relative;
        
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -6px; 
            height: 6px; 
            background: $color;
            box-shadow: 0 4px 8px $color; 
            z-index: -1; 
        }
    }
}